* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flex-container,
.flex-item {
    border-radius: 3px;
}

.flex-container {
    width: 50rem;
    background-color: rgb(59, 231, 217);
    border-radius: 6px;
    padding: 1rem;
    margin: 2rem auto;
    display: flex;
    /* align-items: stretch; */
    flex-wrap: wrap;

}

.flex-item {
    width: 7rem;
    /* height: 6rem; */
    line-height: 6rem;
    background-color: rgb(48, 138, 45);
    margin: 0.5rem;
    font-size: 4rem;
    text-align: center;
    color: white;
}